<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="org.me.qpad"
     android:versionCode="3"
     android:versionName="1.05"
     >
    <uses-sdk
    android:minSdkVersion="4">
    </uses-sdk>
    <application android:icon="@drawable/qpad_icon" android:label="QPad">
         <activity android:name=".QPad" android:label="QPad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
